<%- include("header")-%>

<!-----------------Events Available for Registration--------------------------->
         
<section>

   <!-- <div class="CTpos offset-md-1">
        <h2><i class="fas fa-arrow-circle-right"></i><span style="padding-left: 10px;">Events Available for Registration :</span></h2>
    </div>
-->
    
    <div class="heading1 offset-md-1 ">
    <span>Events Registration</span>
    </div>


    <div class="container CNpos CNstyle offset-md-1 " >
        <p>Don't call me lucky if you're sleeping while I'm working, so be quick and grab your opportunity.
         Below are your dream sports and sufficient opportunities, which might be gone in a jiffy so be quick and register now!</p>
    </div>




<!--****************************CARD SECTION************************************-->
    <div class="MCpos fluid-container">
        <div class="row">
           
            <div class="col-md-8 offset-md-1">
            
            <!-- offset basically adds space before the element-->
            <!-- col-md-8  and offset-md-2 -->
            <!-- designs the width of the card element-->

<% for(var i = 0 ; i < Events_array.length ; i++){ %>
                <!-- CARD elements begin-->
                    <div class="Cpos">
                        <div class="card-header1">
                        <!-- <a></a>  ==>this behaves as a GET request  -->
                        <!-- <a  href="registration/<Events_array[i].event_id%>">  -->
                        
                            <a href="registrations/<%=Events_array[i].event_id%>/regis" >     
                                <h3><b><%=Events_array[i].event_name%></b></h3>
                                <span class="date"><%=Events_array[i].reg_due.substring(8,10)%>-<%=Events_array[i].reg_due.substring(5,7)%>-<%=Events_array[i].reg_due.substring(0,4)%></span> 
                                <p class="Secline"><%=Events_array[i].event_desc%></p>
                            </a>
                        </div>
                      </div>

                      <%}%>
                      

            </div>
        </div>
    </div>
</section>

 <!--END events registration -->

<div class= "EventListFooter" >
<%- include("footer")-%>
</div>
