<%- include("header") -%>


<link rel="stylesheet" href="/response.css"> <!--CSS new-->

<!--Response Page -->


<section>

<!--Heading/title -->
    <div class="heading1 offset-md-1 ">
    <span>Successfully Registerd</span>
    </div>


<!--Content -->

   <div class="container CNpos CNstyle offset-md-1" >
        <p style="font-size: 18px;">Hey,<span id="FLname" > <%=Data_Regis_Student[0].fname%> <%=Data_Regis_Student[0].lname%></span> you have successfully registerd for the event.
		The user detiails submited in the form is recorded. You will be soon reciving notifications regarding the event from the co-ordinator,
		 an response mail also has been sent to the registerd mail id. For further queries contact event co-ordinator. Best of LUCK!</p>

		 <p style="font-size: 18px;">The entire detils is displayed below, if any queries then you can reach us through mail, BMSCE ARENA is always at your service!</p>
    </div>


	<p class="poptext">hidden</p>


<!-- Table information -->

<div class="container  TApos">

<table>

  <tr>
    <th class="">STUDENT NAME</th>
    <td class=""><%=Data_Regis_Student[0].fname%> <%=Data_Regis_Student[0].lname%></td>
  </tr>

  <tr>
    <th class="">USN</th>
    <td class=""><%=Data_Regis_Student[0].usn%></td>
  </tr>

  <tr>
    <th class="">E-MAIL ID</th>
    <td class=""><%=Data_Regis_Student[0].email%></td>
  </tr>

    <tr>
    <th class="">BRANCH</th>
    <td class=""><%=Data_Regis_Student[0].branch%></td>
  </tr>

    <tr>
    <th class="">YEAR</th>
    <td class=""><%=Data_Regis_Student[0].yr%></td>
  </tr>

    <tr>
    <th class="">CONTACT NO</th>
    <td class=""><%=Data_Regis_Student[0].mobno%></td>
  </tr> 

    </table>
</div>


  <div class="container  TApos2">

<table>

   <tr>
    <th class="">EVENT ID</th>
    <td class=""><%=Data_Regis_Event[0].event_id%></td>
  </tr>

  <tr>
    <th class="">EVENT NAME</th>
    <td class=""><%=Data_Regis_Event[0].event_name%></td>
  </tr>

  <tr>
    <th class="">EVENT DESCRIPTION</th>
    <td class=""><%=Data_Regis_Event[0].event_desc%></td>
  </tr>

  <tr>
    <th class="">EVENT DATE</th>
    <td class=""><%=Data_Regis_Event_Date[0].event_start.substring(8,10)%></td>
  </tr>

    <tr>
    <th class="">REGISTRATION START</th>
    <td class=""><%=Data_Regis_Event_Date[0].reg_start.substring(8,10)%></td>
  </tr>

    <tr>
    <th class="">REGISTRATION END</th>
    <td class=""><%=Data_Regis_Event_Date[0].reg_due.substring(8,10)%></td>
  </tr>
  
  </table>



</div>




<!--Table END -->


<div class="FOpos">
<%- include("footer") -%>
</div>



</section>

