<%- include("header")-%>

        <link rel="stylesheet" href="/StudentProfile.css"> 
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>




<!--Heading/title -->
    <div class="heading1 offset-md-1 ">
    <span>User Profile</span>
    </div>


<!--*********  PROFILE  **********-->


<div class="fluid-container emp-profile">
            <form method="get" action="/" >

            <!--ROW 1-->
                <div class="row">
                    
                    <div class="col-md-2">
                        <div class="profile-img">
                            <img src="img/SP_pic2.png" alt="" />
<!--
                            <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file"/>
                            </div>
-->
                        </div>
                    </div>
                    
                    
                    
                    <div class="offset-md-1 col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        <%=Data_S_profile[0].fname%> <%=Data_S_profile[0].lname%>
                                    </h5>

                                    <!--
                                    <h6>
                                        Web Developer and Designer
                                    </h6>
                                    -->
                                    
                                   <!-- <p class="proile-rating">RANKINGS : <span>8/10</span></p>-->


                                   <!--TOOGLE SWITCH-->
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                
                                
                                <!--
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                                </li>
                                -->
                                
                                
                            </ul>
                        </div>
                    </div>
                  
                     <!--BUTTONS-->
                    <div class="col-md-2">
                        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Log-out"/>
                    </div>

                </div>


            <!--ROW 2-->

                <div class="row">
                    
                    
                    <!--<div class="col-md-4">-->
                    <!--    <div class="profile-work">-->
                    <!--        <p>WORK LINK</p>-->
                    <!--        <a href="">Website Link</a><br/>-->
                    <!--        <a href="">Bootsnipp Profile</a><br/>-->
                    <!--        <a href="">Bootply Profile</a>-->
                    <!--        <p>SKILLS</p>-->
                    <!--        <a href="">Web Designer</a><br/>-->
                    <!--        <a href="">Web Developer</a><br/>-->
                    <!--        <a href="">WordPress</a><br/>-->
                    <!--        <a href="">WooCommerce</a><br/>-->
                    <!--        <a href="">PHP, .Net</a><br/>-->
                    <!--    </div>-->
                    <!--</div>-->
                    
                    
                    <div class="offset-md-3 col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                       
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label>USN</label>
                                            </div>
                                            <div class="col-md-5">
                                                <p><%=Data_S_profile[0].usn%></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-5">
                                                <p><%=Data_S_profile[0].email%></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label>Branch</label>
                                            </div>
                                            <div class="col-md-5">
                                                <p><%=Data_S_profile[0].branch%></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label>Year</label>
                                            </div>
                                            <div class="col-md-5">
                                                <p><%=Data_S_profile[0].yr%></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label>Contact no</label>
                                            </div>
                                            <div class="col-md-5">
                                                <p><%=Data_S_profile[0].mobno%></p>
                                            </div>
                                        </div>
                            </div>


                           <!-- SECOND TOGGLE -->
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>NAME</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>value</p>
                                            </div>
                                        </div>
                                    

                                </div>

                        </div>
                    </div>
                </div>
            </form>           
        </div>

        
<!--position of footer-->
<div class= "AdminFooter" >
<%- include("footer")-%>
</div>